* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
    overflow: hidden; 
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 50px 0;
    background: url(../img/istockphoto.jpg) center / cover no-repeat;
}

.app .boards {
    display: flex;
    width: 100%;
}

.app .boards__item {
    display: flex;
    flex-direction: column;
    align-self: baseline; 
    max-width: 250px;
    width: 100%;
    background-color: rgba(0,0,0, .5);
    margin: 0 15px;
    padding: 10px;
    transition: 0.3s;
    border-radius: 3px;
}

.title {
    padding: 5px;
}

.title:focus {
    outline: 1px solid rgba(168,168,168, .45)
} 

.list {
    min-height: 40px;
}

.list__item {
    background-color: #fefefefe;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin: 4px 0;
    cursor: pointer;
    font-size: 400px;
    font-size: 14px;
    outline: none;
    border: none;
}

