* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Helvetica, sans-serif;
    overflow: hidden;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 50px 0;
    background: url(img/istockphoto.jpg) center / cover  no-repeat; 
    .boards {
        display: flex;
        width: 100%;
        &__item {
            display: flex;
            flex-direction: column;
            align-self: baseline;
            max-width: 250px;
            width: 100%;
            background-color: rgba(0,0,0, .5);
            margin: 0 15px;
            padding: 10px;
            transition: .3s all ease;
            border-radius: 3px;
        }
    }
}

